.header{
    min-height: 20vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    border-bottom: 5px solid #fffb08;
    font-size: 3rem;
}
.home__content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
.Author{
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeimg:hover{
    cursor: pointer;
    filter: blur(5px);
}
.Author:hover::before{
    content: "Author";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    left: 0;
    color: #fffb08;
    font-size: 3rem;
    background-color: black;
    text-align: center;
    transition: 1s ease-in;
    border-radius: 10px;
}
.homeimg{
    margin-bottom: 5rem;
    margin-top: 5rem;

}
.App-demo:hover::before{
    content: "App";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    left: 0;
    color: #fffb08;
    font-size: 3rem;
    background-color: black;
    text-align: center;
    transition: 1s ease-in;
    border-radius: 10px;
}
.App-Info:hover::before{
    content: "App info";
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    left: 0;
    color: #fffb08;
    font-size: 3rem;
    background-color: black;
    text-align: center;
    transition: 1s ease-in;
    border-radius: 10px;
}

.info-img{
    width: 18%;
    height: fit-content;
    width: 225px;
    height: 225px;
}
.App-img{
    width: 225px;
    height: 225px;
    height: fit-content;
}
.App-Info{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.App-demo{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (min-width:1024px){
    .home__content{
        flex-direction: row;
        max-width: 1200px;
    }
}